body {
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
p {
  font-size: 16px;
  font-weight: 100;
}

.flexible-content {
  display: flex;
  margin-bottom: 100px;
  padding-top: 100px;
  padding-left: 100px;
}

.flexible-content p {
  font-size: 20px;
  font-weight: 300;
  width: 50%;
}
.half-width {
  width: 70%;
}
.half-width img {
  width: 70%;
}
.orange-color {
  color: orange;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(black, orange);
  padding: 10px 50px;
  border-radius: 5px;
  font-weight: 700;
  color: white;
}

.misson-text {
  text-align: center;
}
.misson-area {
  display: flex;
  justify-content: space-around;
  padding: 25px;
}
.my-misson {
  width: 200px;
  background-color: lightblue;
  padding: 20px;
  border-radius: 20px;
}
.my-misson img {
  width: 90px;
}
.buy-now {
  background-color: gray;
  color: #fff;
  text-align: center;
  padding: 50px;
  margin: 100px 0;
}
.black {
  color: black;
}
.buy-button {
  text-decoration: none;
  padding: 10px 30px;
  background-color: black;
  color: #fff;
  border-radius: 5px;
}
.footer-text {
  background-color: black;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.pink-color {
  color: palevioletred;
}
.footer-text h3 {
  font-size: 30px;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
